# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [2]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [3]:
document = ET.parse( './data/mondial_database.xml' )

#### 10 countries with the lowest infant mortality rates

In [10]:
infant_mortality = {}
for root in document.iterfind('country'):
    for subelement in root.iterfind('infant_mortality'):
        infant_mortality[root.find('name').text] = float(subelement.text)

In [11]:
infant_mortality

{'Afghanistan': 117.23,
 'Albania': 13.19,
 'Algeria': 21.76,
 'American Samoa': 8.92,
 'Andorra': 3.69,
 'Angola': 79.99,
 'Anguilla': 3.4,
 'Antigua and Barbuda': 13.29,
 'Argentina': 9.96,
 'Armenia': 13.97,
 'Aruba': 11.74,
 'Australia': 4.43,
 'Austria': 4.16,
 'Azerbaijan': 26.67,
 'Bahamas': 12.5,
 'Bahrain': 9.68,
 'Bangladesh': 45.67,
 'Barbados': 10.93,
 'Belarus': 3.64,
 'Belgium': 4.18,
 'Belize': 20.31,
 'Benin': 57.09,
 'Bermuda': 2.48,
 'Bhutan': 37.89,
 'Bolivia': 38.61,
 'Bosnia and Herzegovina': 5.84,
 'Botswana': 9.38,
 'Brazil': 19.21,
 'British Virgin Islands': 13.45,
 'Brunei': 10.48,
 'Bulgaria': 15.08,
 'Burkina Faso': 76.8,
 'Burundi': 63.44,
 'Cambodia': 51.36,
 'Cameroon': 55.1,
 'Canada': 4.71,
 'Cape Verde': 24.28,
 'Cayman Islands': 6.21,
 'Central African Republic': 92.86,
 'Chad': 90.3,
 'Chile': 7.02,
 'China': 14.79,
 'Colombia': 15.02,
 'Comoros': 65.31,
 'Congo': 59.34,
 'Cook Islands': 14.33,
 'Costa Rica': 8.7,
 'Cote dIvoire': 60.16,
 'Croatia': 5.87,
 'Cuba': 4.7,
 'Cyprus': 8.54,
 'Czech Republic': 2.63,
 'Denmark': 4.1,
 'Djibouti': 50.2,
 'Dominica': 11.61,
 'Dominican Republic': 19.63,
 'Ecuador': 17.93,
 'Egypt': 22.41,
 'El Salvador': 18.44,
 'Equatorial Guinea': 71.12,
 'Eritrea': 38.44,
 'Estonia': 6.7,
 'Ethiopia': 55.77,
 'Faroe Islands': 5.71,
 'Fiji': 10.2,
 'Finland': 3.36,
 'France': 3.31,
 'French Guiana': 14.6,
 'French Polynesia': 4.78,
 'Gabon': 47.03,
 'Gambia': 65.74,
 'Gaza Strip': 30.6,
 'Georgia': 16.68,
 'Germany': 3.46,
 'Ghana': 38.52,
 'Gibraltar': 6.29,
 'Greece': 4.78,
 'Greenland': 9.42,
 'Grenada': 10.5,
 'Guadeloupe': 8.3,
 'Guam': 5.51,
 'Guatemala': 23.51,
 'Guernsey': 3.47,
 'Guinea': 55.24,
 'Guinea-Bissau': 90.92,
 'Guyana': 33.56,
 'Haiti': 49.43,
 'Honduras': 18.72,
 'Hong Kong': 2.73,
 'Hungary': 5.09,
 'Iceland': 3.15,
 'India': 43.19,
 'Indonesia': 25.16,
 'Iran': 39.0,
 'Iraq': 37.53,
 'Ireland': 3.74,
 'Isle of Man': 4.17,
 'Israel': 3.98,
 'Italy': 3.31,
 'Jamaica': 13.69,
 'Japan': 2.13,
 'Jersey': 3.86,
 'Jordan': 15.73,
 'Kazakhstan': 21.61,
 'Kenya': 40.71,
 'Kiribati': 35.37,
 'Kuwait': 7.51,
 'Kyrgyzstan': 28.71,
 'Laos': 54.53,
 'Latvia': 7.91,
 'Lebanon': 7.98,
 'Lesotho': 50.48,
 'Liberia': 69.19,
 'Libya': 11.87,
 'Liechtenstein': 4.33,
 'Lithuania': 6.0,
 'Luxembourg': 4.28,
 'Macao': 3.13,
 'Macedonia': 7.9,
 'Madagascar': 44.88,
 'Malawi': 48.01,
 'Malaysia': 13.69,
 'Maldives': 24.59,
 'Mali': 104.34,
 'Malta': 3.59,
 'Marshall Islands': 21.39,
 'Martinique': 7.1,
 'Mauritania': 56.06,
 'Mauritius': 10.59,
 'Mayotte': 56.29,
 'Mexico': 12.58,
 'Micronesia': 21.93,
 'Moldova': 12.93,
 'Monaco': 1.81,
 'Mongolia': 23.15,
 'Montserrat': 13.66,
 'Morocco': 24.52,
 'Mozambique': 72.42,
 'Myanmar': 44.91,
 'Namibia': 45.64,
 'Nauru': 8.21,
 'Nepal': 40.43,
 'Netherlands': 3.66,
 'New Caledonia': 5.46,
 'New Zealand': 4.59,
 'Nicaragua': 20.36,
 'Niger': 86.27,
 'Nigeria': 74.09,
 'North Korea': 24.5,
 'Northern Mariana Islands': 5.5,
 'Norway': 2.48,
 'Oman': 14.0,
 'Pakistan': 57.48,
 'Palau': 11.46,
 'Panama': 10.7,
 'Papua New Guinea': 39.67,
 'Paraguay': 20.75,
 'Peru': 20.21,
 'Philippines': 17.64,
 'Poland': 6.19,
 'Portugal': 4.48,
 'Puerto Rico': 7.73,
 'Qatar': 6.42,
 'Reunion': 7.5,
 'Romania': 10.16,
 'Russia': 7.08,
 'Rwanda': 59.59,
 'Saint Helena': 17.63,
 'Saint Kitts and Nevis': 8.98,
 'Saint Lucia': 11.75,
 'Saint Pierre and Miquelon': 6.95,
 'Saint Vincent and the Grenadines': 13.07,
 'Samoa': 20.5,
 'San Marino': 4.52,
 'Sao Tome and Principe': 49.16,
 'Saudi Arabia': 14.58,
 'Senegal': 52.72,
 'Serbia': 6.16,
 'Seychelles': 10.77,
 'Sierra Leone': 73.29,
 'Singapore': 2.53,
 'Sint Maarten': 9.05,
 'Slovakia': 5.35,
 'Slovenia': 4.04,
 'Solomon Islands': 16.17,
 'Somalia': 100.14,
 'South Africa': 41.61,
 'South Korea': 3.93,
 'South Sudan': 68.16,
 'Spain': 3.33,
 'Sri Lanka': 9.02,
 'Sudan': 52.86,
 'Suriname': 27.07,
 'Swaziland': 54.82,
 'Sweden': 2.6,
 'Switzerland': 3.73,
 'Syria': 15.79,
 'Taiwan': 4.49,
 'Tajikistan': 35.03,
 'Tanzania': 43.74,
 'Thailand': 9.86,
 'Timor-Leste': 38.79,
 'Togo': 46.73,
 'Tonga': 12.36,
 'Trinidad and Tobago': 24.82,
 'Tunisia': 23.19,
 'Turkey': 21.43,
 'Turkmenistan': 38.13,
 'Turks and Caicos Islands': 10.97,
 'Tuvalu': 31.69,
 'Uganda': 60.82,
 'Ukraine': 8.1,
 'United Arab Emirates': 10.92,
 'United Kingdom': 4.44,
 'United States': 6.17,
 'Uruguay': 8.97,
 'Uzbekistan': 19.84,
 'Vanuatu': 16.41,
 'Venezuela': 19.33,
 'Vietnam': 18.99,
 'Virgin Islands': 6.79,
 'Wallis and Futuna': 4.49,
 'West Bank': 28.6,
 'Western Sahara': 145.82,
 'Yemen': 50.41,
 'Zaire': 73.15,
 'Zambia': 66.62,
 'Zimbabwe': 26.55}

In [12]:
import pandas as pd

In [14]:
infantmortality_df = pd.DataFrame.from_dict(infant_mortality, orient = 'index')

In [15]:
infantmortality_df.columns = ['infant_mortality']

In [16]:
infantmortality_df.index.names = ['country']

In [17]:
infantmortality_df.head()

                       infant_mortality
country
Canada                             4.71
Sao Tome and Principe             49.16
Turkmenistan                      38.13
Saint Helena                      17.63
Lithuania                          6.00

In [22]:
infantmortality_df.sort_values(by = 'infant_mortality', ascending = True). head(10)

                infant_mortality
country
Monaco                      1.81
Japan                       2.13
Norway                      2.48
Bermuda                     2.48
Singapore                   2.53
Sweden                      2.60
Czech Republic              2.63
Hong Kong                   2.73
Macao                       3.13
Iceland                     3.15

#### 10 cities with the largest population

In [23]:
current_pop = 0
current_pop_year = 0
citypop = {}

for country in document.iterfind('country'):
    for city in country.getiterator('city'):
        for subelement in city.iterfind('population'):
            if int(subelement.attrib['year']) > current_pop_year:
                current_pop = int(subelement.text)
                current_pop_year = int(subelement.attrib['year'])
        citypop[city.findtext('name')] = current_pop
        current_pop = 0
        current_pop_year = 0

In [24]:
citypop_df = pd.DataFrame.from_dict(citypop, orient = 'index')

In [25]:
citypop_df.columns = ['population']

In [26]:
citypop_df.index.names = ['city']

In [27]:
citypop_df.sort_values(by='population', ascending=False).head(10)

           population
city
Shanghai     22315474
Istanbul     13710512
Mumbai       12442373
Moskva       11979529
Beijing      11716620
São Paulo    11152344
Tianjin      11090314
Guangzhou    11071424
Delhi        11034555
Shenzhen     10358381

#### 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [30]:
eg = {}
current_pop = 0
current_pop_year = 0

In [37]:
for country in document.iterfind('country'):
    for population in country.getiterator('population'):
        if int(population.attrib['year']) > current_pop_year:
            current_pop = int(population.text)
            current_pop_year = int(population.attrib['year'])
    for ethn_gp in country.iterfind('ethnicgroup'):
        if ethn_gp.text in eg:
            eg[ethn_gp.text] += current_pop*float(ethn_gp.attrib['percentage'])/100
        else:
            eg[ethn_gp.text] = current_pop*float(ethn_gp.attrib['percentage'])/100        
    current_pop = 0
    current_pop_year = 0

In [38]:
ethnic_df = pd.DataFrame.from_dict(eg, orient='index')

In [39]:
ethnic_df.columns = ['population']
ethnic_df.index.names = ['ethnic_group']
ethnic_df.groupby(ethnic_df.index).sum().sort_values(by='population', ascending=False).head(10)

                population
ethnic_group
Han Chinese   1.245059e+09
Indo-Aryan    8.718156e+08
European      4.948722e+08
African       3.183251e+08
Dravidian     3.027137e+08
Mestizo       1.577344e+08
Bengali       1.467769e+08
Russian       1.304840e+08
Japanese      1.265342e+08
Malay         1.219936e+08

#### name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [55]:
river_country=None
river_name=None
river_length=0
lake_country=None
lake_name=None
lake_area=0
airport_country=None
airport_name=None
airport_elv=0

In [56]:
for river in document.iterfind('river'):
    for length in river.iterfind('length'):
        if river_length < float(length.text):
            river_length = float(length.text)
            river_country = river.attrib['country']
            river_name = river.findtext('name')

In [57]:
for lake in document.iterfind('lake'):
    for area in lake.iterfind('area'):
        if lake_area < float(area.text):
            lake_area = float(area.text)
            lake_country = lake.attrib['country']
            lake_name = lake.findtext('name')

In [58]:
for airport in document.iterfind('airport'):
    for elv in airport.iterfind('elevation'):
        if (elv.text is not None) and (airport_elv < float(elv.text)):
            airport_elv = float(elv.text)
            airport_country = airport.attrib['country']
            airport_name = airport.findtext('name')

In [59]:
data = [[lake_name, river_name, airport_name], [lake_country, river_country, airport_country], [lake_area, river_length, airport_elv]]

In [60]:
df = pd.DataFrame(data, columns = ['Largest Lake', 'Longest River', 'Highest Airport'], index=['Name', 'Location (Country Code)', 'Metric Value'])

In [61]:
df

                           Largest Lake Longest River Highest Airport
Name                        Caspian Sea      Amazonas    El Alto Intl
Location (Country Code)  R AZ KAZ IR TM      CO BR PE             BOL
Metric Value                     386400          6448            4063